<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-img class='animate__animated animate__fadeInLeft ' src='https://media-manager.noticiasaominuto.com/1920/1557486293/naom_5cd55a3f25614.jpg'></ion-img>
  <ion-img class='animate__animated animate__fadeInRight ' src='https://media-manager.noticiasaominuto.com/1920/1557486293/naom_5cd55a3f25614.jpg'></ion-img>
  <ion-img class='animate__animated animate__flipInY animate__faster animate__delay-2s' src='https://media-manager.noticiasaominuto.com/1920/1557486293/naom_5cd55a3f25614.jpg'></ion-img>
</ion-content>
