<ion-header>
  <app-header [backButton]="true"></app-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{(gymRecord$ | async).title}}</ion-card-title>
      <ion-card-subtitle>{{(gymRecord$ | async).subtitle}}</ion-card-subtitle>
      <ion-list>
        <ion-item *ngFor="let ex of (workout$ | async); let i = index;" (click)="selectDay(i)">
          <ion-label>
            <h2>{{ex.title}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
