<ion-slides #slides pager="true" [options]="slideOpts" (ionSlidesDidLoad)="slideChanged()" (ionSlideDidChange)="slideChanged()">
  <ng-container *ngIf="_exercices.length">
    <ion-slide *ngFor="let ex of _exercices; let i=index;">
      <ng-container *ngTemplateOutlet="cardTemplate; context: {index:i, item: ex}"></ng-container>
    </ion-slide>
  </ng-container>
</ion-slides>

<ng-template #cardTemplate let-item="item" let-index="index">
  <ion-card class='animate__animated animate__fadeIn' *ngIf='!!current'>
    <ion-card-header>{{subtitle}}</ion-card-header>
    <div [id]="'youtube_' + index">youtube link</div>
    <ion-card-content>
      <ion-card-title>{{item.title}} - {{(item.sets.length)}}x{{(item.sets[0])}}</ion-card-title>
      <ng-container *ngIf="item.setExecution.length">
        <app-set-editor *ngIf="!loading" [ngClass]="cssClass" [i]="currentSetIndex" [set]="currentSet" [total]="item.setExecution.length" (next)="nextIndex($event)"></app-set-editor>
        <app-set-editor *ngIf="loading" [i]="currentSetIndex" [set]="currentSet" [total]="item.setExecution.length" (next)="nextIndex($event)"></app-set-editor>
      </ng-container>
      <ion-card-subtitle>
        <span>Descanso: {{item.interval}}</span>
        <ion-chip *ngIf="item.technique" color="danger" (click)="techniqueSelected.emit({video: item.techniqueVideo})">
          <ion-label>{{item.technique}}</ion-label>
        </ion-chip>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ng-template>
