<ion-header>
  <app-header [backButton]="true"></app-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{exercices.title}}</ion-card-title>
      <ion-card-subtitle>Grupo Muscular: {{subtitle}}</ion-card-subtitle>
      <ion-list>
        <ion-item *ngFor="let ex of exercices.exercices">
          <ion-label>
            <h2>{{ex.title}}</h2>
            <p>{{ex.sets}} <span *ngIf="ex.technique"> - {{ex.technique}}</span></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
