<ion-header>
  <app-header [title]="exercices.title" [backButton]="true"></app-header>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [value]="mode">
      <ion-segment-button value="card" (click)="mode='card'"><ion-icon name="videocam-outline"></ion-icon></ion-segment-button>
      <ion-segment-button value="list" (click)="mode='list'"><ion-icon name="list-circle-outline"></ion-icon></ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <app-training-card *ngIf="mode==='card'" 
    [subtitle]="subtitle" 
    [exercices]="exercices" 
    [currentExercice]="currentExercice"
    (videoSelected)="slideChanged($event)"
  ></app-training-card>
  <app-training-list 
    *ngIf="mode==='list'" 
    [subtitle]="subtitle" 
    [exercices]="exercices" 
    (videoSelected)="presentModal($event)"
  ></app-training-list>

</ion-content>
