
<ion-card>
  <ion-card-header>{{subtitle}}</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let ex of exercices; let i = index;" >
        <ion-label>
          <ion-card-subtitle (click)="videoSelect(i, ex)"><b>{{ex.title}} ({{ex.sets.length}}x{{ex.sets[0]}})</b></ion-card-subtitle>
          <ion-card-subtitle>
            <span (click)="videoSelect(i, ex)">Descanso: {{ex.interval}}</span>
            <ion-chip *ngIf="ex.technique" color="danger" (click)="techniqueSelected.emit({video: ex.techniqueVideo})">
              <ion-label>{{ex.technique}}</ion-label>
            </ion-chip>
          </ion-card-subtitle>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
