<ion-header>
  <ion-toolbar color='primary'>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand='block' fill='outline' (click)='alert()'>Simple alert</ion-button>
  <ion-button expand='block' fill='outline' (click)='multiple()'>multiple alert</ion-button>
  <ion-button expand='block' fill='outline' (click)='form()'>form</ion-button>
</ion-content>
