<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="log('start')"
  (ionScroll)="log($event)"
  (ionScrollEnd)="log('end')"
>
  <div slot="fixed">
    <h1>Meu titulo 2</h1>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IONIC 5</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
