<ion-header>
  <ion-toolbar color='primary'>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>My header</ion-card-header>
    <ion-img src='https://media-manager.noticiasaominuto.com/1920/1557486293/naom_5cd55a3f25614.jpg?crop_params=eyJwb3J0cmFpdCI6eyJjcm9wV2lkdGgiOjAsImNyb3BIZWlnaHQiOjAsImNyb3BYIjowLCJjcm9wWSI6MH0sImxhbmRzY2FwZSI6eyJjcm9wV2lkdGgiOjk2MCwiY3JvcEhlaWdodCI6NTQwLCJjcm9wWCI6MCwiY3JvcFkiOjEzNX19'></ion-img>
    <ion-card-content>
      <ion-card-title>My title</ion-card-title>
      <ion-card-subtitle>fooo subtitle</ion-card-subtitle>
      <p>title acauaca</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    meu card
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon slot="start" name='star'></ion-icon>
      <ion-label>My Label</ion-label>
      <ion-badge color='danger' slot='end'>150</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name='alert'></ion-icon>
      <ion-label>My Label</ion-label>
      <ion-badge color='warning' slot='end'>150</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name='tool'></ion-icon>
      <ion-label>My Label</ion-label>
      <ion-badge color='danger' slot='end'>150</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name='pencil'></ion-icon>
      <ion-label>My Label</ion-label>
      <ion-badge color='warning' slot='end'>150</ion-badge>
    </ion-item>
  </ion-card>
  
  <ion-card color='danger'>
    <ion-card-header>My header</ion-card-header>
    <ion-card-content>
      <ion-card-title>My title</ion-card-title>
      <ion-card-subtitle>fooo subtitle</ion-card-subtitle>
      <p>title acauaca</p>
    </ion-card-content>
  </ion-card>

  <ion-card color='dark'>
    <ion-card-header>My header</ion-card-header>
    <ion-card-content>
      <ion-card-title>My title</ion-card-title>
      <ion-card-subtitle>fooo subtitle</ion-card-subtitle>
      <p>title acauaca</p>
    </ion-card-content>
  </ion-card>

</ion-content>
