<ion-header>
  <ion-toolbar color='primary'>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>sample</ion-label>
    <ion-input type='text' placeholder="type something"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Floating position</ion-label>
    <ion-input type='text'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">fixed position</ion-label>
    <ion-input type='text'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Stacked position</ion-label>
    <ion-input type='text'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="danger">Danger</ion-label>
    <ion-input type='text'></ion-input>
  </ion-item>

  <ion-input type='text' placeholder="type something" value='clear me' clearInput></ion-input>
  <ion-input type='number' value='1234'></ion-input>
  <ion-input type='email' value='foo@bar.co'></ion-input>
  <ion-input type='tel' value='99999999999'></ion-input>
  <ion-input type='url' value='google.com'></ion-input>
  <ion-input type='search' value=''></ion-input>
  <ion-input type='password' value=''></ion-input>
</ion-content>
