<ion-card-subtitle class='serie-number'>Série {{i + 1}} de {{total}}</ion-card-subtitle>
<ion-grid>
  <ion-row>
    <ion-col size='1' class='ion-align-self-center' (click)="next.emit(i - 1)">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-col>
    <ion-col size='5'>
      <ion-card-subtitle>Repetições: </ion-card-subtitle>
      <ion-input type='number' [value]='set.series' min="1" max="30"></ion-input>
    </ion-col>
    <ion-col size='5'>
      <ion-card-subtitle>Peso: </ion-card-subtitle>
      <ion-input type='number' [value]='set.weight' min="1"></ion-input>
    </ion-col>
    <ion-col size='1' class='ion-align-self-center' (click)="next.emit(i + 1)">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
